<button (click)="createShoutOut()">Create Shout Out</button>

<h2>Given:</h2>
<ul class="shoutout">
    <li *ngFor="let shoutOut of givenShoutOuts" (click)="onSelect(shoutOut)">
        <span>To {{shoutOut.receiverName}} for {{shoutOut.reason}}</span> <button (click)="selectShoutOut(shoutOut)">Choose</button>
    </li>
</ul>
<h2>Received:</h2>
<ul class="shoutout">
    <li *ngFor="let shoutOut of receivedShoutOuts" (click)="onSelect(shoutOut)">
        <span>From {{shoutOut.giverName}} for {{shoutOut.reason}}</span> <button (click)="selectShoutOut(shoutOut)">Choose</button>
    </li>
</ul>

